---
import Layout from '../layouts/Layout.astro';
// import ReactButton from '../components/ReactButton'
import SolidButton from '../components/SolidButton'

---

<Layout title="1 Project">
	<header>
		hello
	</header>
	<main>
		<h1 class="font-extrabold mx-auto">Welcome to <span
				class="bg-gradient-to-r from-red-500 to-blue-500 bg-clip-text text-transparent">Astro</span>
		</h1>

		<!-- <ReactButton client:load><span class="pl-2">React Button</span></ReactButton> -->
		<SolidButton client:load><span class="pl-2">Solid Button</span></SolidButton>
	</main>
</Layout>